#cuadro {
    position: relative;
    -webkit-animation-name: animacion1;
    -webkit-animation-duration: 1s;
}

#cuadro2 {
    position: relative;
    -webkit-animation-name: animacion2;
    -webkit-animation-duration: 1s;
}

@-webkit-keyframes animacion1 {
    from {
        opacity: 0;
        left: 800px;
    }

    to {
        opacity: 1;
        left: 0px;
    }
}

@-webkit-keyframes animacion2 {
    from {
        top: 700px;
    }

    to {
        top: 0px;
    }
}

.btn-item {
}

.btn-container {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-ghost {
    position: relativate;
    display: inline-block;
    background-color: #7c0414;
    padding: 20px 80px;
    color: white;
    font-weight: 900;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 0.5s, background 0.5s;
}

    .btn-ghost:hover {
        color: #7c0414;
        border-color: #7c0414;
        font-size: 16px;
        background-color: white;
    }

.controls {
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-bottom: 8px;
    font-family: 'calibri';
    font-size: 20px;
    color: black;
}

.form-register {
    width: 400px;
    background: #7c0414;
    padding: 30px;
    margin: auto;
    border-radius: 3px;
    font-family: 'calibri';
    color: white;
    box-shadow: 0px 5px 0px #31000b;
}

h1 {
    padding: 5px;
    font-weight: 700;
    color: white;
    background-color: #7c0414;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    box-shadow: 0px 3px 0px #36000c;
    ;
}
